/Connector.java
/Edge.java
/Event.java
/Function.java
/GraphEdge.java
/History.java
/HyperEdge.java
/HyperGraph.java
/HyperVertex.java
/RfsmFactory.java
/RfsmPackage.java
/State.java
/Transition.java
/Vertex.java
